<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel"
        tools:targetApi="31">
        <activity
            android:name=".start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".main"></activity>
        <activity android:name=".hotplace"></activity>
        <activity android:name=".food"></activity>
        <activity android:name=".parking"></activity>
        <activity android:name=".tollet"></activity>
        <activity android:name=".smoking"></activity>
        <activity android:name=".scheduler"></activity>
        <activity android:name=".h_seoul"></activity>
        <activity android:name=".h_seoul_north"></activity>
        <activity android:name=".h_seoul_south"></activity>
        <activity android:name=".h_gyunggi_north"></activity>
        <activity android:name=".h_gyunggi_south"></activity>
        <activity android:name=".h_kangwon"></activity>
        <activity android:name=".h_choongchung"></activity>
        <activity android:name=".h_gyungsang_north"></activity>
        <activity android:name=".h_gyungsang_south"></activity>
        <activity android:name=".h_junbook"></activity>
        <activity android:name=".h_junnam"></activity>
        <activity android:name=".h_jeju"></activity>
        <activity android:name=".f_seoul"></activity>
        <activity android:name=".f_seoul_north"></activity>
        <activity android:name=".f_seoul_south"></activity>
        <activity android:name=".f_gyunggi_north"></activity>
        <activity android:name=".f_gyunggi_south"></activity>
        <activity android:name=".f_kangwon"></activity>
        <activity android:name=".f_choongchung"></activity>
        <activity android:name=".f_gyungsang_north"></activity>
        <activity android:name=".f_gyungsang_south"></activity>
        <activity android:name=".f_junbook"></activity>
        <activity android:name=".f_junnam"></activity>
        <activity android:name=".f_jeju"></activity>
        <activity android:name=".h_seoul_north_daehakro"></activity>
        <activity android:name=".h_seoul_north_dongdaemoon"></activity>
        <activity android:name=".h_seoul_north_etaewon"></activity>
        <activity android:name=".h_seoul_north_eunpyung"></activity>
        <activity android:name=".h_seoul_north_gundae"></activity>
        <activity android:name=".h_seoul_north_hongdae"></activity>
        <activity android:name=".h_seoul_north_insadong"></activity>
        <activity android:name=".h_seoul_north_jongro"></activity>
        <activity android:name=".h_seoul_north_joongkoo"></activity>
        <activity android:name=".h_seoul_north_kangbook"></activity>
        <activity android:name=".h_seoul_north_kwanghwamoon"></activity>
        <activity android:name=".h_seoul_north_kwangjingoo"></activity>
        <activity android:name=".h_seoul_north_mapo"></activity>
        <activity android:name=".h_seoul_north_myungdong"></activity>
        <activity android:name=".h_seoul_north_nowon"></activity>
        <activity android:name=".h_seoul_north_sangsoo"></activity>
        <activity android:name=".h_seoul_north_sinchon"></activity>
        <activity android:name=".h_seoul_north_sungbook"></activity>
        <activity android:name=".h_seoul_north_yongsan"></activity>
        <activity android:name=".h_seoul_north_yunnam"></activity>
        <activity android:name=".h_seoul_south_kangseo"></activity>
        <activity android:name=".h_seoul_south_seocho"></activity>
        <activity android:name=".h_seoul_south_kangdong"></activity>
        <activity android:name=".h_seoul_south_kumcheon"></activity>
        <activity android:name=".h_seoul_south_karosoogil"></activity>
        <activity android:name=".h_seoul_south_yungdungpo"></activity>
        <activity android:name=".h_seoul_south_kangnam"></activity>
        <activity android:name=".h_seoul_south_kwanak"></activity>
        <activity android:name=".h_seoul_south_dongzak"></activity>
        <activity android:name=".h_seoul_south_songpa"></activity>
        <activity android:name=".h_gyunggi_north_yuncheon"></activity>
        <activity android:name=".h_gyunggi_north_pocheon"></activity>
        <activity android:name=".h_gyunggi_north_pajoo"></activity>
        <activity android:name=".h_gyunggi_north_kapyung"></activity>
        <activity android:name=".h_gyunggi_north_ilsan"></activity>
        <activity android:name=".h_gyunggi_north_yangzoo"></activity>
        <activity android:name=".h_gyunggi_north_namyangzoo"></activity>
        <activity android:name=".h_gyunggi_north_eujungboo"></activity>
        <activity android:name=".h_gyunggi_south_suwon"></activity>
        <activity android:name=".h_gyunggi_south_hwasung"></activity>
        <activity android:name=".h_gyunggi_south_echeon"></activity>
        <activity android:name=".h_gyunggi_south_yeojoo"></activity>
        <activity android:name=".h_gyunggi_south_pyungtak"></activity>
        <activity android:name=".h_gyunggi_south_yongin"></activity>
        <activity android:name=".h_kangwon_chuncheon"></activity>
        <activity android:name=".h_kangwon_pyungchang"></activity>
        <activity android:name=".h_kangwon_donghae"></activity>
        <activity android:name=".h_kangwon_injae"></activity>
        <activity android:name=".h_kangwon_samcheok"></activity>
        <activity android:name=".h_kangwon_hongcheon"></activity>
        <activity android:name=".h_kangwon_kosung"></activity>
        <activity android:name=".h_kangwon_yangyang"></activity>
        <activity android:name=".h_kangwon_kangrung"></activity>
        <activity android:name=".h_choongchung_dangjin"></activity>
        <activity android:name=".h_choongchung_taean"></activity>
        <activity android:name=".h_choongchung_asan"></activity>
        <activity android:name=".h_choongchung_cheonan"></activity>
        <activity android:name=".h_choongchung_jaecheon"></activity>
        <activity android:name=".h_choongchung_nonsan"></activity>
        <activity android:name=".h_gyungsang_north_moonkyung"></activity>
        <activity android:name=".h_gyungsang_north_gyungjoo"></activity>
        <activity android:name=".h_gyungsang_north_koomie"></activity>
        <activity android:name=".h_gyungsang_north_andong"></activity>
        <activity android:name=".h_gyungsang_north_pohang"></activity>
        <activity android:name=".h_gyungsang_north_daegoo"></activity>
        <activity android:name=".h_gyungsang_south_ulsan"></activity>
        <activity android:name=".h_gyungsang_south_jinjoo"></activity>
        <activity android:name=".h_gyungsang_south_busan"></activity>
        <activity android:name=".h_gyungsang_south_geojae"></activity>
        <activity android:name=".h_gyungsang_south_kimhae"></activity>
        <activity android:name=".h_junbook_iksan"></activity>
        <activity android:name=".h_junbook_jeonjoo"></activity>
        <activity android:name=".h_junbook_imsil"></activity>
        <activity android:name=".h_junnam_jindo"></activity>
        <activity android:name=".h_junnam_koore"></activity>
        <activity android:name=".h_junnam_kwangjoo"></activity>
        <activity android:name=".h_junnam_sooncheon"></activity>
        <activity android:name=".h_junnam_yusoo"></activity>
        <activity android:name=".h_jeju_jejusi"></activity>
        <activity android:name=".h_jeju_west"></activity>
        <activity android:name=".h_jeju_east"></activity>
        <activity android:name=".f_seoul_north_daehakro"></activity>
        <activity android:name=".f_seoul_north_dongdaemoon"></activity>
        <activity android:name=".f_seoul_north_etaewon"></activity>
        <activity android:name=".f_seoul_north_eunpyung"></activity>
        <activity android:name=".f_seoul_north_geondae"></activity>
        <activity android:name=".f_seoul_north_hongdae"></activity>
        <activity android:name=".f_seoul_north_insadong"></activity>
        <activity android:name=".f_seoul_north_jongro"></activity>
        <activity android:name=".f_seoul_north_joongkoo"></activity>
        <activity android:name=".f_seoul_north_kangbook"></activity>
        <activity android:name=".f_seoul_north_kwanghwamoon"></activity>
        <activity android:name=".f_seoul_north_kwangjinkoo"></activity>
        <activity android:name=".f_seoul_north_mapo"></activity>
        <activity android:name=".f_seoul_north_myungdong"></activity>
        <activity android:name=".f_seoul_north_nowon"></activity>
        <activity android:name=".f_seoul_north_sangsoo"></activity>
        <activity android:name=".f_seoul_north_sinchon"></activity>
        <activity android:name=".f_seoul_north_sungbook"></activity>
        <activity android:name=".f_seoul_north_yongsan"></activity>
        <activity android:name=".f_seoul_north_yunnam"></activity>
        <activity android:name=".f_seoul_south_kangseo"></activity>
        <activity android:name=".f_seoul_south_seocho"></activity>
        <activity android:name=".f_seoul_south_kangdong"></activity>
        <activity android:name=".f_seoul_south_kumcheon"></activity>
        <activity android:name=".f_seoul_south_karosoogil"></activity>
        <activity android:name=".f_seoul_south_yungdungpo"></activity>
        <activity android:name=".f_seoul_south_kangnam"></activity>
        <activity android:name=".f_seoul_south_kwanak"></activity>
        <activity android:name=".f_seoul_south_dongzak"></activity>
        <activity android:name=".f_seoul_south_songpa"></activity>
        <activity android:name=".f_gyunggi_north_yuncheon"></activity>
        <activity android:name=".f_gyunggi_north_pocheon"></activity>
        <activity android:name=".f_gyunggi_north_pajoo"></activity>
        <activity android:name=".f_gyunggi_north_gapyung"></activity>
        <activity android:name=".f_gyunggi_north_ilsan"></activity>
        <activity android:name=".f_gyunggi_north_yangjoo"></activity>
        <activity android:name=".f_gyunggi_north_namyangjoo"></activity>
        <activity android:name=".f_gyunggi_north_eujungboo"></activity>
        <activity android:name=".f_gyunggi_south_suwon"></activity>
        <activity android:name=".f_gyunggi_south_hwasung"></activity>
        <activity android:name=".f_gyunggi_south_echeon"></activity>
        <activity android:name=".f_gyunggi_south_yujoo"></activity>
        <activity android:name=".f_gyunggi_south_pyungtak"></activity>
        <activity android:name=".f_gyunggi_south_yongin"></activity>
        <activity android:name=".f_kangwon_chuncheon"></activity>
        <activity android:name=".f_kangwon_pyungchang"></activity>
        <activity android:name=".f_kangwon_donghae"></activity>
        <activity android:name=".f_kangwon_samcheok"></activity>
        <activity android:name=".f_kangwon_hongcheon"></activity>
        <activity android:name=".f_kangwon_kosung"></activity>
        <activity android:name=".f_kangwon_yangyang"></activity>
        <activity android:name=".f_kangwon_injae"></activity>
        <activity android:name=".f_kangwon_kangrung"></activity>
        <activity android:name=".f_choongchung_dangjin"></activity>
        <activity android:name=".f_choongchung_taean"></activity>
        <activity android:name=".f_choongchung_cheonan"></activity>
        <activity android:name=".f_choongchung_asan"></activity>
        <activity android:name=".f_choongchung_jaecheon"></activity>
        <activity android:name=".f_choongchung_nonsan"></activity>
        <activity android:name=".f_gyungsang_north_moonkyung"></activity>
        <activity android:name=".f_gyungsang_north_gyungjoo"></activity>
        <activity android:name=".f_gyungsang_north_koomie"></activity>
        <activity android:name=".f_gyungsang_north_andong"></activity>
        <activity android:name=".f_gyungsang_north_pohang"></activity>
        <activity android:name=".f_gyungsang_north_daekoo"></activity>
        <activity android:name=".f_gyungsang_south_ulsan"></activity>
        <activity android:name=".f_gyungsang_south_jinjoo"></activity>
        <activity android:name=".f_gyungsang_south_busan"></activity>
        <activity android:name=".f_gyungsang_south_keojae"></activity>
        <activity android:name=".f_gyungsang_south_kimhae"></activity>
        <activity android:name=".f_junbook_iksan"></activity>
        <activity android:name=".f_junbook_junjoo"></activity>
        <activity android:name=".f_junbook_imsil"></activity>
        <activity android:name=".f_junnam_jindo"></activity>
        <activity android:name=".f_junnam_koore"></activity>
        <activity android:name=".f_junnam_kwangjoo"></activity>
        <activity android:name=".f_junnam_sooncheon"></activity>
        <activity android:name=".f_junnam_yusoo"></activity>
        <activity android:name=".f_jeju_jejusi"></activity>
        <activity android:name=".f_jeju_west"></activity>
        <activity android:name=".f_jeju_east"></activity>


    </application>

</manifest>